<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
          {{ site.title }}
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="http://benjchristensen.com/toc/">Home</a><br>
	<a class="sidebar-nav-item{% if page.url == 'http://benjchristensen.com/toc/' %} active{% endif %}"  href="http://benjchristensen.com/toc/">Posts</a><br>
	<br>
	<a class="sidebar-nav-item" href="https://twitter.com/benjchristensen">Twitter</a><br>
	<a class="sidebar-nav-item"  href="https://github.com/benjchristensen">Github</a><br>
	<a class="sidebar-nav-item"  href="https://speakerdeck.com/benjchristensen">Speaker Deck</a><br>
	<a class="sidebar-nav-item"  href="https://www.linkedin.com/in/benjchristensen">LinkedIn</a><br>
	<a class="sidebar-nav-item"  href="https://www.facebook.com/profile.php?id=100009763380160">Facebook</a><br>
	<a class="sidebar-nav-item"  href="https://keybase.io/benjchristensen">Keybase</a><br>

    </nav>
  </div>
</div>
